
<!DOCTYPE html>
<html lang="zh-CN" manifest="app.appcache">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
<link rel="bookmark" type="image/x-icon"  href="/images/favicon.ico" />
<link rel="icon" href="/images/favicon.ico" />
<title>Error 404 (Not Found)!!1</title>
<style>
    *{
        margin:0;
        padding:0
    }
    html,code{
        font:15px/22px arial,sans-serif
    }
    html{
        background:#fff;
        color:#222;
        padding:15px
    }
    body{
        margin:7% auto 0;
        max-width:390px;min-height:180px;
        padding:30px 0 15px
    }
    * > body{
        background:url(/images/robot.png) 100% 5px no-repeat;
        padding-right:205px
    }
    p{
        margin:11px 0 22px;
        overflow:hidden
    }
    ins{
        color:#777;
        text-decoration:none
    }
    a img{
        border:0
    }
    @media screen and (max-width:772px){
        body{background:none;margin-top:0;max-width:none;padding-right:0}
    }

    #logo{
        background:url(/images/logo_sm_2.png) no-repeat
    }
    @media only screen and (min-resolution:192dpi){
        #logo{
            background:url(/images/logo_sm_2_hr.png) no-repeat 0% 0%/100% 100%;
            -moz-border-image:url(/images/logo_sm_2_hr.png) 0
        }
    }
    @media only screen and (-webkit-min-device-pixel-ratio:2){
        #logo{
            background:url(/images/logo_sm_2_hr.png) no-repeat;
            -webkit-background-size:100% 100%
        }
    }
    #logo{display:inline-block;
        height:55px;
        width:150px
    }
</style>
<body>
<a href=/><span id=logo aria-label=Google></span></a>
<p><b>404.</b> <ins>That’s an error.</ins>
<p>The requested URL <code><%= url%></code> was not found on this server.  <ins>That’s all we know.</ins>
</p>
</body>
</html>
