<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      <title>谷搜客 - 基于Google的实时搜索服务</title>
      <meta charset="utf-8"/>
      <meta name="description" content="谷搜客基于Google搜索,为喜爱谷歌搜索的朋友们免费提供高速稳定的搜索服务。搜索结果通过Google.com实时抓取，欢迎您在日常生活学习中使用谷搜客查询资料。" />
      <meta name="keywords" content="谷歌 谷搜客 google 谷歌不能访问 gusouk" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="renderer" content="webkit">
      <meta http-equiv="Cache-Control" content="no-siteapp" />
      <meta name="apple-mobile-web-app-title" content="谷搜客">
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="author" content="Longbo Ma,mlongbo@gmail.com China">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
      <link rel="stylesheet" type="text/css" href="stylesheets/vendor/jquery.autocomplete.css" />
      <link rel='stylesheet' href='<%= r_prefix %>/stylesheets/style.css' />
      <link rel='stylesheet' href='<%= r_prefix %>/stylesheets/style-responsive.css' />
      <link rel="shortcut icon" type="image/x-icon" href="<%= r_prefix %>/images/favicon.ico" />
      <link rel="icon" href="<%= r_prefix %>/images/favicon.ico">
      <link rel="bookmark" type="image/x-icon"  href="<%= r_prefix %>/images/favicon.ico" />
      <link rel="search" type="application/opensearchdescription+xml" href="<%= r_prefix %>/opensearch.xml" title="谷搜客" />
  </head>
  <body>
      <div class="wrapper">
          <div class="search-box">
              <div class="glogo">
                <div nowrap="" class="tname">谷搜客</div>
              </div>
              <form class="s_box" method="get" action="/search" onsubmit="return document.getElementById('id_s_text').value==''?false:true;">
                  <input id="id_s_text" class="s_text" name="q" type="text"  autocomplete="off" placeholder="世界因你而美好, 加油~"/>
                  <input class="s_submit m-button" value="搜一下" type="submit" />
              </form>
          </div>
      </div>
      <%if (!isMobile) {%>
     <div id="footcnt">
      <div class="_dQc _E2" id="fbar">
        <div class="fbar">
            <span id="fsr">
                <a class="_Gs unline">
                    Copyright&nbsp;&copy;&nbsp;GuSouK.com
                </a>
                <a class="_eA" href="javascript:void(0);" onclick="setAsDefault()">
                    <strong>设置为默认搜索引擎</strong>
                </a>
                <!-- <a class="_Gs" href="">
                    使用Google.co.jp
                </a> -->
            </span>
            <span id="fsl"><!--
                <a class="_eA" href="http://mlongbo.com/aboutgso/" target="_blank" title="我需要你的帮助">
                    <strong>捐助</strong>
                </a>-->
                <a class="_eA" href="mailto:mlongbo@gmail.com?subject=[GuSou]-" target="_blank" title="快给我写信提建议啦">
                    <strong>联系我</strong>
                </a>
                <a class="_Gs" href="https://github.com/lenbo-ma/gso/issues" target="_blank" title="踊跃发言啦">
                    <strong>问题和建议</strong>
                </a>
                <a class="_Gs" href="http://www.zhihu.com/question/20161362" target="_blank">
                    如何用好Google搜索引擎
                </a>
                <a class="_Gs" href="http://jq.qq.com/?_wv=1027&k=PaD5gT" target="_blank">
                    <strong>QQ交流群: 338257594</strong>
                </a>
            </span>
        </div>
    </div>
</div>

  <!-- FOOTER
    <footer class="footer ">
        <p>Powered By Lenbo Ma</p>
    </footer>-->

    <script type="text/javascript">
    (function () {
       document.getElementsByTagName('input')[0].focus();

       this.setAsDefault = function () {
          if (("ActiveXObject" in window) && window.external && ('AddSearchProvider' in window.external)) {
              window.external.AddSearchProvider('<%= r_prefix %>/opensearch.xml');
          } else {
              window.open('http://mlongbo.com/set_as_default_search_engine/');
          }
          return false;
       };
    })();
    </script>
    <%}%>
    <%if (!encrypted) {%>
    <script type="text/javascript" src="<%= r_prefix %>/javascripts/wordcheck.js?=v"></script>
    <%}%>
         <!-- jQuery  -->
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script type='text/javascript' src='javascripts/vendor/jquery.autocomplete.js'></script>
        <script type="text/javascript">
          $("#id_s_text").autocomplete('http://210.242.125.108/complete/search?client=firefox',{
            width: 509,
            dataType: "jsonp",
            parse: function (data) {
              var arr = [];
              if (data && data.length>=2) {
                var rows = data[1];
                for (var i = 0; i < rows.length; i++) {
                  var row = rows[i]
                  arr.push({
                    data: [row,row],
                    value: row,
                    result: row
                  });
                };
              }
              return arr;
            }
          });
        </script>
    <!--<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
  <!--这是我自己的网站统计   http://gso.mlongbo.com    请替换或注释掉-->
   <!--//gascript <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42596364-3', 'auto');
    ga('send', 'pageview');
  </script> //gascript-->
  <script type="text/javascript">
      console.info("谷搜客基于Google搜索,为喜爱谷歌搜索的朋友们免费提供高速稳定的搜索服务。搜索结果通过Google.com实时抓取，欢迎您在日常生活学习中使用谷搜客查询资料。");
      console.info("如果你觉得谷搜客对你有帮助，请资助(支付宝账号: mlongbo@gmail.com)我一下，资金将用于支持我开发及购买服务器资源。^_^");
      console.info("希望能够让更多的获取知识，各自加油！");
    </script>
  </body>
</html>
